* {
    box-sizing: border-box;
}

body {
    background-color: #569537;
}

#title {
    text-align: center;
}

.board {
    border:4px double #402909;
    width: 408;
    margin: auto;
}

.row {
    display: inline-block;
}

.box {
    border:2px solid #402909;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.row:nth-child(even) .box:nth-child(odd) {
    background-color: #654321;
}

.row:nth-child(odd) .box:nth-child(even) {
    background-color: #654321;
}


.row:nth-child(even) .box:nth-child(even) {
    background-color: #F0C581;
}

.row:nth-child(odd) .box:nth-child(odd) {
    background-color: #F0C581;
}


.white {
    background-color: white;
    border: 5px double gray;
}

.black {
    background-color: rgb(85, 84, 84);
    border: 5px double black;
}

.piece {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
    
}